<div class="container">

  <div class="row" id="d">
    <form (ngSubmit)="nextPage()">
      <div class="form-group">
        <h1>Add a Referee
        </h1>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Referee</label>
        <input type="text"   [formControl]="referee" class="form-control" id="exampleInputPassword1">
        {{getErrorMessage()}}
      </div>
      <button type="submit" style="margin-right: 10px; background-color: #5867dd" routerLink="/dashboard/add" class="btn btn-primary">Previous</button>

      <button type="submit"  class="btn btn-primary" style="background-color: #5867dd">Next</button>
    </form>
  </div>
</div>
