
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body ustBorder">
      <div class="row">
        <div class="col-md-12">
          <table class="table">
            <thead class="thead">
            <tr class="tr">
              <th class="th">Commitment</th>
              <th class="th">Start Date</th>
              <th class="th">End Date</th>
              <th class="th">Stake</th>
              <th class="th">Organization</th>
              <th class="th">Referee Email</th>
              <th class="th">Cheer Leader</th>
            </tr>
            </thead>

            <tr class="tr">
              <td class="td" data-label='Name'>{{commitments.commitment}}</td>
              <td class="td" data-label='Position'>{{commitments.start}}</td>
              <td class="td" data-label='Office'>{{commitments.end}}</td>
              <td class="td" data-label='Age'>{{commitments.stake}}</td>
              <td class="td" data-label='Start date'>{{commitments.referee}}</td>
              <td class="td" data-label='Salary'>{{commitments.cheerleader}}</td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
