body {
  background: #F2F2F2;
  overflow-x: hidden;
}

.panel {
  margin-top: 90px;
  box-shadow: 0 -1px 0 #e5e5e5, 0 0 2px rgba(0, 0, 0, .12), 0 2px 4px rgba(0, 0, 0, .24);
  border: none;
}

.ustBorder {
  border-radius: 3px 3px 0 0;
  border-top: 23px solid #2196F3;
}

.table {
  border: 1px solid #ccc;
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  transition: all 0.8s cubic-bezier(.01, .98, .99, .06);
}

.table .tr {
  border: 0;
  padding: 5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.5s cubic-bezier(.97, .86, .09, .23);
  border-radius: 4px;
}

.table .tr:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.tr {
  transition: all 0.8s ease-in-out;
  width: 49% !important;
  margin-top: 15px;
  transition: all 0.2s ease-in-out;
  height: auto;
}

.table .th, .table .td {
  padding: 10px;
  width: 100%;
}

.ttable {
  float: right;
  width: 100%;
  margin-right: 5px;
}

.tt3table {
  float: left;
  margin-left: 5px;
}

.table .th {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

@media screen and (max-width: 995px) {
  .tr {
    width: 100% !important;
    float: left !important;
  }
}


.table {
  border: 0 !important;
}

.table .thead {
  display: none;
}

.tr {
  height: auto;
}

.td {
  margin-bottom: 10px;
  display: block;
  border-top: none !important;
}

.table .td {
  display: block;
  text-align: left;
  font-size: 13px;
  background-color: #fff;

}

.table .td:nth-child(odd) {
  background-color: #f5f5f5;
}

.table .td:last-child {
  border-bottom: 0;
}

.table .td:before {
  content: attr(data-label);
  float: left;
  width: 50%;
  text-transform: uppercase;
  font-weight: bold;
}

.table .td:after {
  float: right;
  width: 50%;
}


button {
  position: fixed;
  top: 10;
  left: 10;
}
