<div class="page-content-wrapper-inner">

  <div class="content-viewport">
    <div class="row">
      <div class="col-12 py-5">
        <h4>Commitment</h4>
        <!--      <p class="text-gray">Welcome aboard, Allen Clerk</p>-->
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 col-6 equel-grid" *ngFor="let commit of commitments ">
        <div class="grid">
          <div class="grid-body text-gray">
            <div class="d-flex justify-content-between">
            </div>
            <p class="text-black" (click)="onPush(commit.id)">{{commit.commitment}}</p>
            <div class="wrapper w-50 mt-4">
              <canvas height="45" id="stat-line_1"></canvas>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
