<app-nav-bar></app-nav-bar>
<div class="container">
 >
  <div class="row" id="d">
    <form>
      <div class="form-group">
        <h1>Reset Password
        </h1>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="">
      </div>
<!--      <button type="submit" style="margin-right: 10px; background-color: #5867dd"  class="btn btn-primary">Create Account</button>-->

      <button type="submit" class="btn btn-primary" style="background-color: #5867dd">Reset Password</button>
    </form>
  </div>
</div>
