<section class="team_part">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="team_img"></div>
      </div>
      <div class="offset-lg-1 col-lg-5">
        <div class="team_member_text">
          <h2>Living From <br>
            The Team That Cares</h2>
          <p>Unto all set life creeping own set. Saw make multiply female watge deb all set life
            creeping own set. Saw make multiply female watge abund winged subdue dominion
            own night days second</p>
          <ul>
            <li><span class="ti-paint-bucket"></span>Set dry signs spirit a kind First shall them windged
              creping</li>
            <li><span class="ti-check-box"></span>He two face one moved dominion man you're likeness</li>
            <li><span class="ti-ruler-pencil"></span>Sea forth fill have divide be dominion from life for feven
            </li>
          </ul>
          <a href="#" class="btn_1">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <img src="img/section_overlay.png" alt="">
</section>
